<section>
	<h2 class="text-center">Archives</h2>
	{% assign compteur = 1 %}
	{% for post in site.posts %}
		{% if compteur == 1 %}
			<div class="row">
		{% endif %}

				<div class="four columns post-item-container">
					<a class="post-item" href="{{ post.url }}">
						<img class="post-item-img ratio-3-2" src="{{ post.picture }}" alt="{{ post.title }}" loading="lazy">
						<p class="text-right post-item-duration">{{ post.duration }}</p>
						<h3>{{ post.title }}</h3>
					</a>
				</div>

		{% if compteur == 3 or post == site.posts.last %}
			</div>
			{% assign compteur = 0 %}
		{% endif %}
		{% assign compteur = compteur | plus: 1 %}

	{% endfor %}
</section>