<section>
	<h1 class="text-center">Thomas de&nbsp;Villardi<br><small>Coach sportif</small></h1>
	<div class="six columns offset-by-three">
	<p>
		Coaching personnalisé ou consultation à distance&nbsp;?
	</p>
	<p>
		Ensemble, nous allons établir un bilan global de votre situation physique et mentale afin de vous aider à atteindre vos objectifs.
	</p>
	<p>
		Réathletisation, transformation physique ou recherche de performance, je vous proposerai un coaching adapté à vos besoins. 
	</p>
</section>
