<section id="galerie">
	<h2 class="text-center fat-title">Galerie</h2>
	<div class="galerie">
		<img class="tile"
					src="img/DSC7936.jpeg"
					alt="Thomas de Villardi en action"
					loading="lazy">
		<img class="tile"
					src="img/DSC8072.jpg"
					alt="Thomas de Villardi en action"
					loading="lazy">
		<img class="tile"
					src="img/DSC7959.jpeg"
					alt="Thomas de Villardi en action"
					loading="lazy">
		<img class="tile"
					src="img/DSC7766.jpeg"
					alt="Thomas de Villardi en action"
					loading="lazy">
		<img class="tile"
					src="img/DSC7641.jpeg"
					alt="Thomas de Villardi en action"
					loading="lazy">
		<img class="tile"
					src="img/DSC7575.jpeg"
					alt="Thomas de Villardi en action"
					loading="lazy">
		<img class="tile"
					src="img/DSC7544.jpeg"
					alt="Thomas de Villardi en action"
					loading="lazy">
	</div>
</section>