<section id="galerie">
	<h1 class="text-center">Thomas de&nbsp;Villardi<br><small>Coach sportif</small></h1>
	<div class="galerie">
		<img class="tile"
					src="/img/pics/DSC7544.jpeg"
					alt="Thomas de Villardi en action"
					loading="lazy">
		<img class="tile"
					src="/img/pics/DSC8072.jpg"
					alt="Thomas de Villardi en action"
					loading="lazy">
		<img class="tile"
					src="/img/pics/DSC7959.jpeg"
					alt="Thomas de Villardi en action"
					loading="lazy">
		<img class="tile"
					src="/img/pics/DSC7766.jpeg"
					alt="Thomas de Villardi en action"
					loading="lazy">
		<img class="tile"
					src="/img/pics/DSC7641.jpeg"
					alt="Thomas de Villardi en action"
					loading="lazy">
		<img class="tile"
					src="/img/pics/DSC7575.jpeg"
					alt="Thomas de Villardi en action"
					loading="lazy">
	</div>
</section>