<section id="galerie" class="galerie">
	<div class="tile embed-responsive">
		<iframe class="u-full-width" src="https://www.youtube.com/embed/LXq0smoqgM4?autoplay=1&controls=0&rel=0&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>
<!-- 		<img class="tile"
				src="/img/pics/DSC7544.jpeg"
				alt="Thomas de Villardi en action"
				loading="lazy"> -->
	<img class="tile"
				src="/img/pics/DSC8072.jpg"
				alt="Thomas de Villardi en action"
				loading="lazy">
	<img class="tile"
				src="/img/pics/DSC7959.jpeg"
				alt="Thomas de Villardi en action"
				loading="lazy">
	<img class="tile"
				src="/img/pics/DSC7766.jpeg"
				alt="Thomas de Villardi en action"
				loading="lazy">
	<img class="tile"
				src="/img/pics/DSC7641.jpeg"
				alt="Thomas de Villardi en action"
				loading="lazy">
	<img class="tile"
				src="/img/pics/DSC7575.jpeg"
				alt="Thomas de Villardi en action"
				loading="lazy">
</section>