<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>{% if page.title %}{{ page.title }} – {% endif %}Thomas de Villardi</title>
		<meta name="description" content="{{ page.description }}">
		<link rel="shortcut icon" href="/img/favico/favicon.ico">
		<link rel="apple-touch-icon" 			sizes="180x180" href="/img/favico/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" 	href="/img/favico/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" 	href="/img/favico/favicon-16x16.png">
		<link rel="manifest" href="/img/favico/site.webmanifest">
		<link rel="stylesheet" href="/css/styles.css" type="text/css">
		<meta name="theme-color" content="#000000">
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>
	</head>
	<body>