<section id="offre" class="offre">
	<h2 class="fat-title">Expertise</h2>
	<div class="row flex-container">
		<div class="six columns">
			<p>
				Les formations, les années au haut niveau, ainsi que les nombreuses blessures que j’ai subies m’ont permis d’accumuler des connaissances et de l’expérience sur le développement de la condition physique.
			</p>
			<p>
				Avec un protocole précis, différents exercices d’activation et principalement du renforcement musculaire, je peux vous aider à régler vos problèmes articulaires et vos déséquilibres musculaires.
			</p>
			<h3>Santé</h3>
			<p>
				Une musculature développée et une bonne posture vous permettront de garder une bonne santé physique.
			</p>
			<h3>Performance</h3>
			<p>
				Mes programmations spécifiques te permettront de développer ta vitesse, force, puissance et endurance musculaire et ainsi devenir un athlète plus complet.
			</p>
			<h3>Esthétique</h3>
			<p>
				Les exercices fonctionnels et progressifs que je te propose te permettront de transformer ton physique et de te sentir au top de ta forme.
			</p>
			<p>
				<a href="#contact" class="button button-primary">Me contacter</a>
			</p>
		</div>
		<div class="six columns cover-container">
			<img class="cover" src="img/offre.jpg" alt="" loading="lazy">
		</div>
	</div>
</section>