<section id="tarifs">
	<h2 class="text-center icon fat-title">Tarifs</h2>
	<div class="row flex-container">
		<div class="four columns card">
			<h3 class="text-center">1 séance</h3>
			<p>
				Idéal pour commencer, pour être flexible et pour découvrir ma méthode de travail.
			</p>
			<p class="text-center">
				<a href="#contact" class="button button-primary">Me contacter</a>
			</p>
			<p class="text-center"><span class="price">50<sup>€</sup></span></p>
			<ul>
				<li>1 séance de 45 min</li>
			</ul>
		</div>
		<div class="four columns card active">
			<h3 class="text-center">Pack 10&nbsp;séances</h3>
			<p>
				Un pack pour progresser rapidement et profiter d’un accompagnement personnalisé.
			</p>
			<p class="text-center">
				<a href="#contact" class="button button-primary">Me contacter</a>
			</p>
			<p class="text-center"><span class="price">450<sup>€</sup></span></p>
			<ul>
				<li>10 séances de 45 min</li>
				<li>Accompagnement personnalisé</li>
			</ul>
			<p>
				<small><em>Pack valable 3 mois à compter de la première séance.</em></small>
			</p>
		</div>
		<div class="four columns card">
			<h3 class="text-center">Pack PRO</h3>
			<p>
				Un plan d’entraînement et un suivi personnalisé pour passer au niveau supérieur.
			</p>
			<p class="text-center">
				<a href="#contact" class="button button-primary">Me contacter</a>
			</p>
			<p class="text-center"><span class="price">Sur devis</span></p>
			<ul>
				<li>Durée de séance personnalisée</li>
				<li>Fréquence adaptée</li>
				<li>Accompagnement personnalisé</li>
			</ul>
			<p>
				<small><em>Paiement chaque mois.</em></small>
			</p>
		</div>
	</div>
</section>